/*footer styles*/
#mainBkgBlockFooter{
    background-color: rgb(26, 50, 156);
}
#bbInfoFooter{
    font-weight: 550;
    letter-spacing: 1px;
}
#bbInfoFooter{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 4mm;
}
#mainBkgBlockFooter{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}